/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes heart-dance {
  20% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes sparks-dance {
  0% {
    fill: transparent;
  }

  60% {
    fill: var(--red-color);
  }

  100% {
    fill: transparent;
  }
}

@keyframes animation-is-liked_contour {
  0% {
    fill: var(--accent-color);
  }

  40% {
    fill: var(--red-color);
  }

  100% {
    fill: var(--red-color);
  }
}

@keyframes animation-is-liked_core {
  0% {
    fill: transparent;
  }

  20% {
    fill: var(--red-color);
  }

  100% {
    fill: var(--red-color);
  }
}

@keyframes animation-is-liked_main-body {
  0% {
    fill: transparent;
  }

  40% {
    fill: var(--red-color);
  }

  100% {
    fill: var(--red-color);
  }
}

@keyframes animation-hover_core {
  0% {
    fill: transparent;
  }

  40% {
    fill: var(--accent-color);
  }

  100% {
    fill: var(--accent-color);
  }
}

@keyframes animation-hover_main-body {
  0% {
    fill: transparent;
  }

  80% {
    fill: var(--accent-color);
  }

  100% {
    fill: var(--accent-color);
  }
}

@keyframes animation-active_core {
  0% {
    fill: var(--accent-color);
  }

  50% {
    fill: var(--red-color);
  }

  100% {
    fill: var(--red-color);
  }
}

@keyframes animation-active_main-body {
  0% {
    fill: var(--accent-color);
  }

  100% {
    fill: var(--red-color);
  }
}
